$color-bg: #0e0e0f;
$color-card: #1a1b1c;
$color-text-primary: #ffffff;
$color-text-secondary: #9a9a9a;
$color-border: #2a2b2d;

$color-green: #6bff7e;
$color-green-dark: #3ebf53;
$color-red: #ff4d4d;
$color-red-dark: #b52424;
$color-yellow: #ffcc66;
$color-blue: #3a86ff;

$overlay-dark: rgba(0, 0, 0, 0.5);
$overlay-light: rgba(255, 255, 255, 0.1);
